@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

</br>

<table>
    <tr>
        <td align="left">
            <b> Asset Updates </b>
        </td>
    </tr>
    <tr>
        <td align="left">
            <br /> File
        </td>
        <td align="left" style="padding-top:20px;padding-left:50px;">
            <input type="text" placeholder="Enter Text" id="file" />
        </td>
    </tr>
    <tr>
        <td align="left">
            <br /> Version
        </td>
        <td align="left" style="padding-top:20px;padding-left:50px;">
            <input type="text" placeholder="Description" id="version" />
        </td>
    </tr>
    <tr>
        <td align="left">
            <br /> Size (Read Only)
        </td>
        <td align="left" style="padding-top:20px;padding-left:50px;">
            <input type="text" placeholder="Size" id="file" />
        </td>
    </tr>
    <tr>
        <td align="left">
            <br /> Publish On
        </td>
        <td align="left" style="padding-top:20px;padding-left:50px;">
            <input type="date" placeholder="Start" id="publish" />
        </td>
    </tr>
    <tr>
        <td align="left">
            <br /> Update History
        </td>
    </tr>
    <td align="left" style="padding-top:20px;padding-left:50px;">
        <input type="text" placeholder="Start" id="history" />
    </td>
</table>