
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<br/>

<b> Content Templates Management </b>
<br />

<button type="submit" class="w3-button w3-blue" style="border-radius:4px;">+ New</button>
<table style="border:1px solid #ddd;" cellspacing="0" cellpadding="2" width="800">
    <tr style="background-color:#eaeaea;text-align:center;">
        <td style="border-right:1px solid #ddd;">
            ID
        </td>
        <td style="border-right:1px solid #ddd;">
            SysID
        </td>
        <td style="border-right:1px solid #ddd;">
            Template Name
        </td>
        <td style="border-right:1px solid #ddd;">
            Status
        </td>
        <td style="border-right:1px solid #ddd;">
            Last Modified
        </td>
        <td style="border-right:1px solid #ddd;">
        </td>
        <td style="border-right:1px solid #ddd;">
        </td>
    </tr>
</table>