@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h3> Current Version ( Read Only ) </h3>
<div style="padding-bottom:5px;">
    <input name="" placeholder="Apple App Store" disabled="disabled" />
    <input name="" style="margin-left:15%;" placeholder="Google Play" disabled="disabled" /></br>
</div>
<div style="padding-bottom:5px;">
    <input name="" placeholder="App Server Version/Status :" disabled="disabled" style="width:30%" />
    <input name="" placeholder="CMS Server Version/Status :" disabled="disabled" style="width:30%; margin-left:1%;" /></br>
</div>
<div style="padding-bottom:5px;">
    <input name="" placeholder="Database Version Status :" disabled="disabled" style="width:30%" />
    </br>
</div>
