@model List<Test2405.Models.NotificationModel>
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<br />

<b style="text-align:center;">Notifications</b>
<br />

<button type="submit" class="w3-button w3-blue" style="border-radius:4px;">+ New</button>

@using (Html.BeginForm("", "Main", new { pageName = "Notifications" }, FormMethod.Post))
{ 

}