@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%">
    <h3 class="w3-bar-item">Menu</h3>
    <a asp-area="" asp-controller="Main" asp-action="Dashboard" class="w3-bar-item w3-button">Dashboard </a>
    <a asp-area="" asp-controller="Main" asp-action="Application" class="w3-bar-item w3-button">Application </a>
    <a asp-area="" asp-controller="Main" asp-action="ApplicationSettings" class="w3-bar-item w3-button">Application Settings</a>
    <a asp-area="" asp-controller="Main" asp-action="ApplicationUpdates" class="w3-bar-item w3-button">Application Updates</a>
    <a href="#" class="w3-bar-item w3-button">Content Templates</a>
    <a href="#" class="w3-bar-item w3-button">Contents</a>
    <a href="#" class="w3-bar-item w3-button">Contents Change Log</a>
    <a href="#" class="w3-bar-item w3-button">Notifications</a>
    <a href="#" class="w3-bar-item w3-button">Notifications Log</a>
    <a href="#" class="w3-bar-item w3-button">Reports</a>
    <a href="#" class="w3-bar-item w3-button">Content Statistics Report</a>
    <a href="#" class="w3-bar-item w3-button">Application Usage Report</a>
    <a href="#" class="w3-bar-item w3-button">Application Feedbacks</a>
</div>
