@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}





<div style="text-align:center; margin-top:10%; padding: 10px 10px 10px 10px; border:1px solid black;">
    <h2>FFF Museum Mobile App CMS</h2>
    <p>Username:<input type="text" name="username" placeholder="Username" /></p>
    <p>Domain:<input type="text" name="domain" placeholder="Domain" /></p>
    <p>Password:<input type="password" name="password" placeholder="Password" /></p>
    <input type="submit" value="Login" />
</div>